# Pliki generowane przez Pythona
__pycache__/
*.pyc
*.pyo
*.pyd

# Pliki generowane przez narzędzia do budowania
dist/
build/
*.egg-info/

# Pliki konfiguracyjne i logi specyficzne dla użytkownika
*.log
config.yaml
manual_override.lock
no-news-today
__pycache__/mpc_controller.cpython-313.pyc
ROADMAP.md
roadmap.md
build_release.sh
